body {
    margin: 0;
}

.heading-capsule {
    background-color: #1F2937;
    height: 500px;
    display: flex;
    flex:1;
    justify-content: center;
}
    
.content {    
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: column;
}

.heading {
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    margin-top: 16px;
    flex: 1 1 0;
}

.header-links {
    display: flex;
    text-decoration: none;
    color: #E5E7EB;
    gap: 16px;
}

.intro {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.web-description {
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 50%;
}

.image-placeholder {
    background-color: gray;
    color: #E5E7EB;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
}

.secondary {
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
}